@using TVS.WebApp.Misc


@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

@*<div ng-app="tvsApp">
    <h1>NAME:</h1>
    <div ng-controller="peopleController">
        <div>{{newPerson.FirstName}}</div>
    </div>

</div>*@



    <div class="form-horizontal"  ng-app="tvsApp" ng-controller="peopleController">
        <h4>Person</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>


        <div class="form-group" >
            <div class="col-md-2 control-label">
                Initial
            </div>

            <div class="col-md-10">
                <input ng-model="newPerson.Initial" class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2 control-label">
                First Name
            </div>
            <div class="col-md-10">
                <input ng-model="newPerson.FirstName"  class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2 control-label">
                Middle Name
            </div>

            <div class="col-md-10">
                <input ng-model="newPerson.MiddleName" class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2 control-label">
                Last Name
            </div>
            
            <div class="col-md-10">
                <input ng-model="newPerson.LastName"  class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2 control-label">
                Date Of Birth
            </div>
            <div class="col-md-10">
                <md-datepicker ng-model="newPerson.DateOfBirth"></md-datepicker>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-2 control-label">
                Place Of Birth
            </div>
            <div class="col-md-10">
                <input ng-model="newPerson.PlaceOfBirth"  class="form-control"/>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-2 control-label">
                Identification Mark
            </div>

            <div class="col-md-10">
                <input ng-model="newPerson.IdentificationMark"  class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2 control-label">
                PAN Card Number
            </div>

            <div class="col-md-10">
                <input ng-model="newPerson.PAN"  class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2 control-label">
                Adhaar Card Number
            </div>

            <div class="col-md-10">
                <input ng-model="newPerson.AdhaarCard" class="form-control"/>
            </div>
        </div>





        <div class="form-group" ng-repeat="attr in newPerson.PersonAttributes">
            <div class="col-md-2 control-label">
                {{attr.RoleAttribute.Description}}
            </div>
            @*<div class="hidden">
                <input asp-for="@Model.PersonAttributes[i].RoleAttributeId" class="form-control" />
            </div>*@
           
            <div class="col-md-10" ng-show="attr.RoleAttribute.ValueType=='string'">
                <input ng-model="attr.StringValue" class="form-control" />
            </div>
            <div class="col-md-10" ng-show="attr.RoleAttribute.ValueType=='int'">
                <input ng-model="attr.IntValue" class="form-control" />
            </div>
            <div class="col-md-10" ng-show="attr.RoleAttribute.ValueType=='float'">
                <input ng-model="attr.FloatValue" class="form-control" />
            </div>
            <div  ng-show="attr.RoleAttribute.ValueType=='date'" >
                @*<input ng-model="attr.DateValue" class="form-control glyphicon-calendar" onfocus="addDatePicker()" />*@
                <md-datepicker ng-model="attr.DateValue"></md-datepicker>
            </div>

        </div>


        <div ng-repeat="oc in newPerson.AddressOccupations">
            <div class="form-group">
                <div class="col-md-2 control-label">Address Line 1</div>
                <div class="col-md-10">
                    <input ng-model="oc.Address.AddressLine1" class="form-control"></input>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2 control-label">Address Line 2</div>
                <div class="col-md-10">
                    <input ng-model="oc.Address.AddressLine2" class="form-control"></input>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2 control-label">Address Line 3</div>
                <div class="col-md-10">
                    <input ng-model="oc.Address.AddressLine3" class="form-control"></input>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2 control-label">City</div>
                <div class="col-md-10">
                    <input ng-model="oc.Address.City" class="form-control"></input>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2 control-label">State</div>
                <div class="col-md-10">
                    <input ng-model="oc.Address.State" class="form-control"></input>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2 control-label">Pin Code</div>
                <div class="col-md-10">
                    <input ng-model="oc.Address.PostCode"  class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2 control-label">Occupied From</div>
                <div class="col-md-10">
                    <md-datepicker ng-model="oc.OccupiedFrom"></md-datepicker>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2 control-label">Occupied To</div>
                <div class="col-md-10">
                    <md-datepicker ng-model="oc.OccupiedTo"></md-datepicker>
                </div>
            </div>
        </div>

        <div>
            <button ng-click="addNewAddressOccpation()">add another</button>
            <button ng-click="removeAddress($index)">delete</button>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default"/>
            </div>
        </div>

      

    </div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="/resources/demos/style.css">
  
}
